*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
--font-family: Outfit, sans-serif;
}

body{
  font-family:var(--font-family);
  background-color: var(--Light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;
}

.main {
width: 86%; 
max-width: 30rem;
background-color: var(--White);
border-radius: 2rem;
padding: 1rem;
padding-bottom: 3rem;
box-shadow: 0 1rem 1rem 1rem rgba(0,0,0, 0.05);
font-family:var(--font-family);
}

.main__image {
width: 100%;
border-radius: 1.2rem;
}

.main__title {
font-size: 1.35rem;
font-weight: 700;
padding: 15px 15px;
text-align: center;
color: var(--Dark-blue);
margin-top: 0.5rem;
}

.main__paragraph {
font-size: 0.938rem;  
text-align: center;
color: var(--Grayish-blue);
margin-top: 0.1rem;
padding: 0 1rem 0;
}

