*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
--font-family: Outfit, sans-serif;
}

body{
  font-family:var(--font-family);
  padding:30px ;
  font-size: 0.938rem;  
  background-color: var(--Light-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc (100vh-1px);
  
}

.main {
margin: auto, 85px;
max-width: 370px;
display: flex;
flex-direction:column;
background-color: white;
padding: 1rem;
border-radius: 20px;
font-size: 11px;
font-family: var(--font-family);
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.main__image {
max-width: 100%;
border-radius: 12px;
}

.main__title {
padding: 15px 15px;
font-weight: 700;
text-align: center;
color: var(--Dark-blue);
}

.main__paragraph {
padding: 10px 25px;
font-size: 0.938rem;  
text-align: center;
color: var(--Grayish-blue);
}

@media (min-width:500px){
.main{
    width: 400px;
}
}
